<%= simple_form_for :filter,
                          url: tacos_path,
                          method: :get,
                          html: { class: 'form-horizontal' },
                          defaults: { required: false } do |f| %>

  <div class="field">
    <table class="grid-table">
      <%= f.input :name %>
      <%= f.input :spicy, collection: Tacos::Filterer.options_for_spicyness_select, selected: object[:spicy] %>
      <%= f.input :meat, collection: Tacos::Filterer.options_for_meat_select, selected: object[:meat] %>
    </table>
  </div>

  <div class="actions">
    <%= f.button :submit, "Filter", class: "btn-info" %>
  </div>
<% end %>
