<%= form_with(model: taco, local: true) do |form| %>
  <% if taco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taco.errors.count, "error") %> prohibited this taco from being saved:</h2>

      <ul>
      <% taco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :taco_name %>
  </div>

  <div class="field">
    <%= form.label :spicy %>
    <%= form.check_box :spicy, id: :taco_spicy %>
  </div>

  <div class="field">
    <%= form.label :double_tortilla %>
    <%= form.check_box :double_tortilla, id: :taco_double_tortilla %>
  </div>

  <div class="field">
    <%= form.label :meat %>
    <%= form.text_field :meat, id: :taco_meat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
